html {
	height: 100%;
}

body {
	height: 100%;
	background: url('../img/comppattern2.png') repeat;
	font: normal 1em 'fira_sanslight';
	color: #4a545d;  
}
/* прибьем футер к низу*/
.wrapper {
	position: relative;
	min-height: 100%;
	min-width: 970px;
	height: auto;
	
}
.wrapper:after {
	content: "";
	height: 80px;
	display: block;
}
.page-footer {
	min-width: 970px;
	height: 80px;
	margin-top:-80px;
}
/* прибьем футер к низу конец*/

/*header*/
.logo-img{
	margin-top: 39px;
	
}
.container-big{
	max-width: 1200px;
	min-width: 960px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.page-header {
	height: 119px;
	background: #eff3f7 url(../img/line.png) bottom center no-repeat;
	position: relative;
	margin-bottom: 39px;
}
.page-header .header-logo-link {
	position: absolute;
	top: 39px;
	left: 0;
}
.page-header .header-logo-text {
	position: absolute;
	left: -9999px;
}
.page-header .socials {
	position: absolute;
	right: 0;
	top: 36px;

}

/*Header end*/

/*Social block*/
.socials {
	margin: 0;
	padding:0;
	min-width: 260px;
}
.socials .socials-item {
	list-style: none;
	display: inline-block;
	height: 47px;
	width: 47px;
	margin-left: 19px;
}
.socials .socials-item:first-child {
	margin-left:0;
}
.socials .socials-link {
	display: block;
	height: 100%;
	width: 100%;
	text-indent: -9999px;
	background: url(../img/socials.png) no-repeat;
}
.socials .socials-link.vk {background-position: 0px 0px;}
.socials .socials-link.tw {background-position: -50px 0;}
.socials .socials-link.fb {background-position: -100px 0;}
.socials .socials-link.gt {background-position: -150px 0;}
.socials .socials-link:hover {background-position-y: -50px;}

/*Social block-end*/

/*Sidebar*/
.sidebar {
	width: 250px;
	float: left;
}

/*Navigation*/
.navigation {
	margin-bottom: 23px;
	overflow: hidden;
	background: #eff3f7;
	border-radius: 4px;
	border-bottom: 26px;
}
.navigation .navigation-list {
	list-style: none;
	margin:0;
	padding:0;
}
.navigation .navigation-item {
	border-top: 2px solid #3ba8c0;
	margin: 0 11px;
}
.navigation .navigation-item:first-child {
	border-top:none;
}


.navigation .navigation-item.current {
	background: #3ba8c0;
	margin: 0;
	border-bottom: none;
	padding-left: 11px;
	margin-bottom: -2px;
}
.navigation .navigation-item.current .navigation-link {
	color: #f9fafb;
	font-size: 22px;
}

.navigation .navigation-link {
	font-family: 'fira_sansbook';
	display: block;
	font-size: 20px;
	text-decoration: none;
	color: #959aa8;
	margin-left: 16px;
	padding:20px 0px;
}
.navigation .navigation-link:hover {
	color: #3ba8c0;
}
/*Navigation-end*/

.variable-content {
	width: 650px;
	float: right;
}

/*Contacts*/

.contacts {
	color: #fff;
	border-radius: 4px;
	overflow: hidden;
	font-family: "Fira_SansBook";

}

.contacts-head {
	background: #3ba8c0;
	height: 30px;
	color: #fff;
	font-family: "Fira_SansBook";
	font-size: 21px;
	padding-left: 21px;
	padding-top:10px;

}
.contacts-list {
	list-style: none;
	margin:0;
	padding:0;
	
}
.contacts-items {
	color: #fff;
	text-decoration: none;
	padding-left: 83px;
	font-size: 17px;	
}
.contacts-items:hover {
	text-decoration: underline;

}

.contacts-inner {
	height: 30px;
 	padding-top: 10px;
 }

.contacts-inner.mail{
	background: url(../img/mail.png) #41b9d4 42px no-repeat;
}

.contacts-inner.tel{
	background: url(../img/tel.png) #48cbe8 42px no-repeat;
}
.contacts-inner.skype{
	background: url(../img/skype.png) #51daf8 42px no-repeat;
}

/*Contact-end*/

/*footer*/
.page-footer {
	background: #eff3f7 url(../img/line.png) top center no-repeat;
	font-family: 'fira_sanslight';
	color: #4a545d;
}
.page-footer .container {
	padding-top: 23px;
	position: relative;
}
.page-footer .copyright {
	margin: 0 180px;
	padding-top: 7px;
	text-align: center;
	font-size: 13px;
}

/*Login*/
.page-footer .lock {
	position: absolute;
	top:26px;
	left: 20px;
}
.lock .lock-inner {
	display: block;
	height: 40px;
	font-family: 'fira_sansbook';
	font-size: 16px;
	line-height: 2.2;
	color: #4a545d;
	text-decoration: none;
	background: url(../img/login.png) no-repeat;
	padding-left: 24px;
}
.lock .lock-inner:hover {
	text-decoration: underline;
	background: url(../img/login2.png) no-repeat;
}

/*Common class*/
.container {
	width: 960px;
	margin: 0 auto;
}
.text-center {
	text-align: center;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

/*clearfix*/
.container:before, .clearfix:before, .container:after, .clearfix:after {
	content: " ";
	display: table;
}
.container:after, .clearfix:after {
	clear: both;
}
/*clearfix end*/







